body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  min-height: 100vh;      
  margin: 0;
}

.box {
  font-size:64px;
  border:4px solid black;
  padding:0px 3px;
  width:223px;
}
